<div class="main-content" style="background-image: url(https://images.pottermore.com/bxd3o8b291gf/2phT56DSucuUqU6Icm6mCe/b1fd2811691e41ffd1622a07eb528604/HogwartsCastle_WB_F4_HogwartsThroughTheTrees_Illust_100615_Land.jpg?w=1200)">
<div style="width:50%;height:0;padding-bottom:27%;position:relative;">

</div>
</div>
