<h1><%= @professor.name %></h1>

<h2>Professor of <%= link_to @professor.subject_name, subject_path(@professor.subject) %></h2>

<p>
  <%= @professor.bio %>
</p>

<h2><%= link_to 'Go back to Hogwarts Professors', professors_path %></h2>
