<div class='main-content'>
<h1>Choose your Subjects</h2>
<%= form_for @lesson do |f| %>
<%= f.collection_check_boxes :professor_id, Professor.all, :id, :subject_name, { include_hidden: false } %><br>
<%= f.submit 'Enrol', class: 'submit_button' %>
<% end %>
</div>
