<h1>Choose your Subjects</h1>

<%= form_for @lesson do |f| %>
<%= f.collection_check_boxes :professor_id, Professor.all, :id, :subject_name, { include_hidden: false } %>
<%= f.submit 'Enrol' %>
<% end %>
