.home_background
			{
				padding:0;
				margin:0;
				// background: url(images/home/hogwarts.jpg);
				background-size: 100% 100%;
			}


.header {
	background-color: #f4e3f5;
	display: flex;
	align-items: center;
	justify-content: space-between;
  position: sticky;
  top: 0;
	& h1 {
		margin: 0px;
	}
	& p {
		margin: 0px;
	}
}

.logo {
    margin: 8px 20px;
}

.login-bits {
	margin: 8px 20px;
}

.main-content {
	// background-image: url(https://images.pottermore.com/bxd3o8b291gf/2phT56DSucuUqU6Icm6mCe/b1fd2811691e41ffd1622a07eb528604/HogwartsCastle_WB_F4_HogwartsThroughTheTrees_Illust_100615_Land.jpg?w=1200);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.user {
  display: inline;
  margin-right: 20px;
  font-size: 200%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

// form {
//     display: flex;
//     flex-direction: column;
//     margin-top: 30px;
//     box-shadow: none;
//     border: none;
//     border-radius: 4px;
//     background-color: #4fa9e8e6;
//     color: #fff;
//     font-size: 20px;
//     padding: 7px 16px;
// }



.form-inputs {
  width: 98%;
  border-radius: 3px;
  height: 20px;
}

// .form {
//   display: flex;
//   flex-direction: column;
// }

.submit_button {
  margin-top: 30px;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    background-color: #a30024;
    color: #fff;
    font-size: 20px;
    padding: 7px 16px;
}

.errors_hp {
  color: red;
}


.text {
  width: 30%;
}


//
//
// body {
//   font-family: 'Zilla Slab', serif;
// }
//
// h1 {
//   font-family: 'Dancing Script', cursive;
// }
//
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: 'Zilla Slab', serif;
//   font-weight: 700;
// }
//
// header.masthead {
//   position: relative;
//   background-color: #343a40;
//   background: url("../img/bg-masthead.jpg") no-repeat center center;
//   background-size: cover;
//   padding-top: 8rem;
//   padding-bottom: 8rem;
// }
//
// header.masthead .overlay {
//   position: absolute;
//   background-color: #212529;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   opacity: 0.3;
// }
//
// header.masthead h1 {
//   font-size: 2rem;
// }

// @media (min-width: 768px) {
//   header.masthead {
//     padding-top: 12rem;
//     padding-bottom: 12rem;
//   }
//   header.masthead h1 {
//     font-size: 3rem;
//   }
// }
//
// .showcase .showcase-text {
//   padding: 3rem;
// }
//
// .showcase .showcase-img {
//   min-height: 30rem;
//   background-size: cover;
// }
//
// @media (min-width: 768px) {
//   .showcase .showcase-text {
//     padding: 7rem;
//   }
// }
//
// .features-icons {
//   padding-top: 7rem;
//   padding-bottom: 7rem;
// }
//
// .features-icons .features-icons-item {
//   max-width: 20rem;
// }
//
// .features-icons .features-icons-item .features-icons-icon {
//   height: 7rem;
// }
//
// .features-icons .features-icons-item .features-icons-icon i {
//   font-size: 4.5rem;
// }
//
// .features-icons .features-icons-item:hover .features-icons-icon i {
//   font-size: 5rem;
// }
//
// .testimonials {
//   padding-top: 7rem;
//   padding-bottom: 7rem;
// }
//
// .testimonials .testimonial-item {
//   max-width: 18rem;
// }
//
// .testimonials .testimonial-item img {
//   max-width: 12rem;
//   -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
//   box-shadow: 0px 5px 5px 0px #adb5bd;
// }
//
// .call-to-action {
//   position: relative;
//   background-color: #343a40;
//   background: url("../img/bg-masthead.jpg") no-repeat center center;
//   background-size: cover;
//   padding-top: 7rem;
//   padding-bottom: 7rem;
// }
//
// .call-to-action .overlay {
//   position: absolute;
//   background-color: #212529;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   opacity: 0.3;
// }
